{% extends "base.html" %}

{% block title %}
    {% if form.instance.pk %}
        Edit {{ form.instance.name }}
    {% else %}
        Create a project
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Project</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'projects:project_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}